:root {
  --base-text: #ffffff;
  --highlight-color: #ba3aff;
  --background: #222222;
}

html, body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  padding-top: 40%;
}

.highlight {
  color: var(--highlight-color);
}

.main {
  color: var(--base-text);
  font-family: "Lucida Console", "Courier New", monospace;
  width: 50%;
  margin-left: 25%;
}

.typing-demo {
  width: 15ch;
  animation: typing 1.2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.float {
	position:fixed;
	bottom:40px;
	right:40px;
	text-align:left;
	text-shadow: 2px 2px 3px #000;
}

.float-links {
  color: var(--base-text)
}