@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --base-text: #cecece;
  --title-text: #ffffff;
  --highlight-color: #ba3aff;
  --background: #222222;
}

html, body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  color: var(--title-text);
}

.subtitle {
  font-size: x-large;
  color: var(--title-text)
}

.highlight {
  color: var(--highlight-color);
}

.main {
  color: var(--base-text);
  text-align: justify;
  font-family: 'Source Code Pro', monospace;
  width: 50%;
  margin-top: 40vh;
  margin-left: 25%;
}

.typing {
  width: 15ch;
  animation: typing 1.2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.float {
	position:fixed;
	bottom:40px;
	right:40px;
	text-align:left;
	text-shadow: 2px 2px 3px #000;
}

.float-links {
  color: var(--base-text);
  background: var(--background);
  background: linear-gradient(to right, var(--base-text) 49.5%, var(--background) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.5s ease;
}

.float-links:hover {
    background-position:left bottom;
}

.intro-button {
  background-color: #444444;
  border: 5px solid #333333;
  border-radius: 3em;
  color: white;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 5em;
}

.intro-button:hover {
  background-color: var(--highlight-color);
  border: 5px solid #822ab1;

}